.logo {
  position: fixed;
  top: 0;
  z-index: 2;
  color: white;
  width: 100vw;
  height: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  display: flex;
  justify-content: center;
}

.logo img {
  min-width: 100px;
  width: 10%;
  max-width: 150px;
}

.nav_about {
  position: fixed;
  top: 0;
  z-index: 2;
  color: white;
  width: 100vh;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  font-size: 30px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.nav_about_active {
  transform: rotate(-90deg) translateX(-200%);
}

.nav_home {
  position: fixed;
  top: 0;
  z-index: 2;
  color: white;
  width: 100vh;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
  transform: rotate(-90deg);
  font-size: 30px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.nav_home_active {
  transform: rotate(-90deg) translateX(-100%);
}

.addspot {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  color: white;
  width: 100vh;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top right;
  transform: rotate(90deg) translateX(100%);
  font-size: 30px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.background {
  background-image: url("../../assets//tokyo.jpg");
  background-size: cover;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90vw;
  height: 85vh;
  z-index: 1;
}

.hamberger_icon {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  margin: 10px;
  cursor: pointer;
  background-color: black;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamberger_icon div {
  height: 4px;
  background-color: white;
  width: 30px;
  z-index: 20;
  margin-top: 4px;
}
.hamberger_icon div:first-child {
  margin-top: 0;
}

.attribute {
  position: fixed;
  top: 92.5vh;
  height: 7.5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.copyright {
  font-weight: bold;
  padding: 5px;
  color: white;
  opacity: 0.8;
}
@media (max-width: 1024px) {
}

@media (max-width: 896px) {
  .container {
    width: 100vw;
  }
  nav {
    display: none !important;
    font-size: 200px;
    position: static;
  }
}
@media (max-width: 480px) {
}
