@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
.main {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 35px;
  margin: 10px 0;
}

.spotImg img {
  width: 60%;
  object-fit: cover;
  z-index: 200;
  display: block;
  margin: 0 auto;
}

.youtube {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.youtube iframe {
  max-width: 70%;
  height: 30%;
}

.youtube p {
  margin: 10px 0;
}

.mapLink {
  border-bottom: 2px solid black;
  color: blue;
  display: inline;
}

.back {
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 20px;
  width: 40%;
  border: 2px solid grey;
  padding: 1.5px;
  border-radius: 30px;
}

@media (max-width: 896px) {
  .title {
    font-size: 20px;
  }
  img {
    width: 80%;
  }

  .back {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .back {
    margin: 0 auto;
    margin-top: 20px;
  }
}
