.wrapper {
  border-top: 1px solid #d3cdcd;
  display: flex;
  padding: 20px 0px;
  height: 22vh;
  align-items: center;
  cursor: pointer;
}

.wrapper:first-child {
  border-top: none;
}

@media (max-width: 960px) {
  .wrapper {
    padding-right: 5vw;
    border-right: 1px solid #d3cdcd;
    padding-left: 5vw;
    height: auto;
    width: 95vw;
    background-color: white;
    border-radius: 20px;
    margin-left: 2vw;
  }
  .wrapper:first-child {
  }
}

@media (max-width: 520px) {
  .wrapper {
    width: 95vw;
    height: 100%;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-right: 2vw;
  }
  .wrapper:first-child {
  }
}

.photo img {
  width: 250px;
  border-radius: 10px;
  height: 18vh;
  object-fit: cover;
}

@media (max-width: 960px) {
  .photo img {
    width: 40vw;
  }
}

@media (max-width: 520px) {
  .photo img {
    width: 50vw;
    height: 15vh;
  }
}

.descriptions {
  margin-left: 10px;
  flex-grow: 1;
}

@media (max-width: 960px) {
  .descriptions {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 520px) {
  .descriptions {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.prefecture {
  font-size: 14px;
  color: #d3cdcd;
}

.name {
  margin-top: 8px;
  font-size: 18px;
  padding-bottom: 14px;
  width: 100%;
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.name::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #f1ebeb;

  margin-top: 10px;
}

.spot__tags {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.spot_tag {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 10px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  margin-right: 8px;
}
@media (max-width: 520px) {
  .prefecture {
    font-size: 10px;
  }
  .name {
    font-size: 12px;
    padding-bottom: 0;
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .spot_tag {
    padding: 2px 6px;
    font-size: 6px;
    margin-right: 5px;
    align-self: flex-start;
  }
}
