.container {
  position: absolute;
  z-index: 3;
  width: 45%;
  background-color: white;

  height: 85vh;
  padding: 20px 20px;
  padding-top: 0px;
  transform: translateX(-150%);
  transition: all 0.7s;
}

.container_open {
  transform: translateX(0%);
}

@media (max-width: 960px) {
  .container {
    height: 22vh;
    bottom: 0;
    transform: translateX(0%);
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 520px) {
  .container {
    display: flex;
    align-items: center;
    height: 20vh;
    overflow: hidden;
    bottom: 0;
  }
}

.no_result__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.icon {
  font-size: 100px;
  margin-bottom: 20px;
}

.header {
  width: 91%;
  overflow: hidden;
  background-color: white;
  position: fixed;
  z-index: 3;
  height: 55px;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 960px) {
  .header {
    display: none;
  }
}

.header::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d3cdcd;
}

.multiply {
  width: 100%;
  cursor: pointer;
}

.lists {
  margin-top: 55px;
  overflow: scroll;
  height: 79vh;
}

@media (max-width: 960px) {
  .lists {
    display: flex;
    height: 100%;
    margin-top: 0px;
  }
}

@media (max-width: 520px) {
  .lists {
    height: 100%;
  }
}
