* {
  text-transform: uppercase;
}

img {
  width: 30px;
}

.button {
  position: relative;
}

.button img {
  transition: all 0.2s;
}

.popup {
  display: none;
  position: absolute;
  top: -226px;
  left: -30px;
  background-color: white;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.popup img {
  display: block;
  width: 250px;
  height: 65%;
  margin: 0 auto;
  margin-top: 10px;
}

.popup p {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.popup:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 200px;
  left: 30px;
  border: 16px solid transparent;
  border-top: 16px solid white;
  z-index: 500;
}

.button:hover + .popup {
  display: block;
}

.button:hover img {
  transform: scale(1.3);
}
