* {
  text-transform: uppercase;
}

img {
  width: 30px;
}

.arrow {
  position: absolute;
  z-index: 2;
  margin: 15px;
  font-size: 45px;
  color: black;
  padding: 10px;
  background: white;
  border-radius: 10px;
  width: 45px;
}

@media (max-width: 960px) {
  .arrow {
    display: none;
  }
}

.button {
  position: relative;
  z-index: 1;
}

.button img {
  transition: all 0.2s;
  z-index: -10;
}

.button:hover img {
  transform: scale(1.3);
}

.popup {
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  z-index: 100;
}

.popup img {
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
}

.popup p {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
